.container{position:relative; margin-left:auto;margin-right:auto; margin-top:20px; margin-bottom:20px; width:1200px; }
.container *{font-family:"微软雅黑","宋体",Arial,sans-serif !important; font-size:16px;}

.content{position:relative; margin:0 auto; width:100%;}
.content *{}

.footer{position:relative; width:100%; font-size:14px !important; background-color:#222222; color:#fffff0;}
.footer *{position:relative; margin:0 auto; vertical-align:middle; font-size:14px; color:#fffff0; text-align:center;}

.mainnav{position:fixed; top:20px; background-color:#222222; color:#d2d2d2; width:100%; line-height:150%; margin:0 auto; padding:20px;}
.mainnav *{font-size:18px; color:#d2d2d2;}
